target/
!.mvn/wrapper/maven-wrapper.jar

*.idea
src/actions/types.js
node_modules/
dist/
bundle.js
package-lock.json
npm-debug.log
**/.DS_Store
.vscode
.history
public/.DS_Store
public/img/.DS_Store
stats.json


### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans


### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
