.register-protocol-container {
  margin-bottom: 10px;
  color: #333;
}
.register-protocol-container h1 {
  font-size: 18px;
  text-align: center;
}
.register-protocol-container div {
  margin: 5px 0;
}
.register-protocol-container div h3 {
  font-size: 14px;
  height: 30px;
  line-height: 30px;
}
.register-protocol-container div p {
  line-height: 30px;
}
.agreement-btn {
  text-align: center;
}
.agreement-btn button {
  width: 200px;
  height: 36px;
  border-radius: 3px;
  color: white;
  background: linear-gradient(
    -90deg,
    rgba(98, 210, 254, 1) 0%,
    rgba(98, 210, 254, 1) 0%,
    rgba(22, 122, 255, 1) 100%,
    rgba(22, 122, 255, 1) 100%
  );
  border: none;
  outline: none;
}
